<html>

<head>
    <Title>
        <%=title%>
    </Title>    

    <link rel = "stylesheet" href="/css/layout.css">

    <link rel = "stylesheet" href="/css/header.css">

    <link rel = "stylesheet" href="/css/footer.css">
    
    <link rel = "stylesheet" href="/css/home.css">
   <!-- This tag will be used to insert any styling to head section--> 
  <%-style%>
   </head> 

   <body>

   <%- include('_header');  %>
   <%- body %>
   <%- include('_footer');  %>

   <%- script%>

    </body>   

</html>